body html {
    position: relative;
    height: 100%;
    text-align: center;
}

.line {
    position: relative;
    width: 1139px;
    height: 3px;
    background-color: grey;
    left: 50%;
    top: -20px;
    transform: translate(-50%);
}

.lineBottom {
    position: absolute;
    width: 1139px;
    height: 3px;
    background-color: grey;
    left: 50%;
    top: 105%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.mainImage {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate( -50%);
}

.navBar {
    display: flex;
    flex-direction: row;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

.navBar h1 {
    padding-right: 30px;
    font-size: 35px;
    color: #b8b8b8;
    font-family: sans-serif;
    font-weight: bold;
    /*height: 44px;
    width: 147px;*/
}

.navBar h6 {
    padding: 0 60px 0 40px;
    font-weight: bolder;
    /*height: 38px;
    width: 160px;*/
}

footer {
    position: absolute;
    height: auto;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    color: #999999;
    top: 105%;
    /*left: 50%;*/
    /*transform: translate( -50%);*/
}


/* The side navigation menu */

.sidenav {
    text-align: center;
    height: 0;
    /* 100% Full-height */
    width: 100%;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #111;*/
    background-color: rgba(0, 0, 0, 0.7);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /*padding-top: 60px;*/
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /*color: #818181;*/
    color: white;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover, .offcanvas a:focus {
    /*color: #f1f1f1;*/
    color: #818181;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
