body html {
    position: relative;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 100vh;
    width: 100vw;
    border: 0;
    overflow: hidden;
    background-image: url(./resources/desertTwo.jpg);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

.storeName {
    position: fixed;
    font-family: "Helvetica", "Arial", sans-serif;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    /*font-size: 35px;*/
    font-size: 4em;
    /*color: #b8b8b8;*/
    color: black;
    text-shadow: -1px -1px 2px white, 2px 2px 2px white;
    font-family: sans-serif;
    font-weight: bold;
    /*height: 44px;
  width: 147px;*/
}

.openMenu {
    position: fixed;
    color: white;
    top: 2%;
    left: 93%;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: transparent;*/
    border: 3px solid rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/*Turns hamburger white and background black when hover*/

.openMenu:hover {
    color: white;
    background-color: black;
}

.line {
    position: relative;
    width: 1139px;
    height: 3px;
    background-color: grey;
    left: 50%;
    top: -10px;
    transform: translate(-50%);
}

.lineBottom {
    position: relative;
    width: 1139px;
    height: 3px;
    background-color: grey;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-top: 10px;
}

.mainImage {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate( -50%);
}

.navBar {
    display: flex;
    flex-direction: row;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.navBar h1 {
    padding-right: 30px;
    font-size: 35px;
    /*color: #b8b8b8;*/
    color: #5b5b5b;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    /*height: 44px;
    width: 147px;*/
}

.navBar h5 {
    padding: 0 60px 0 40px;
    font-weight: bolder;
    /*height: 38px;
    width: 160px;*/
    font-family: 'Poiret One', cursive;
}

footer {
    position: relative;
    height: auto;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    color: #999999;
    top: 90%;
    /*left: 50%;*/
    /*transform: translate( -50%);*/
}


/* The side navigation menu */

.sidenav {
    text-align: center;
    height: 0;
    /* 100% Full-height */
    width: 100%;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #111;*/
    background-color: rgba(0, 0, 0, 0.9);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /*padding-top: 60px;*/
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.inventorySidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #111;*/
    background-color: rgba(0, 0, 0, 0.9);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    font-family: 'Poiret One', cursive;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    /*color: #818181;*/
    color: white;
    /*color: black;*/
    display: block;
    transition: 0.3s
}


/* The navigation menu links */

.inventorySidenav a {
    font-family: 'Poiret One', cursive;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    /*color: #818181;*/
    color: white;
    /*color: black;*/
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover, .offcanvas a:focus {
    /*color: #f1f1f1;*/
    color: #818181;
}


/* When you mouse over the navigation links, change their color */

.inventorySidenav a:hover, .offcanvas a:focus {
    /*color: #f1f1f1;*/
    color: #818181;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Position and style the close button (top right corner) */

.inventorySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.carouselPhotos {
    position: relative;
    width: 75%;
    height: auto;
    margin: auto;
}

.carousel {
    /*position: absolute;*/
    top: 16%;
    width: 100vw;
    /*height: 100vh;*/
}


/*.carousel, .item, .active {
    height: 100%;
}*/

.carousel-inner {
    height: 77vh;
}


/*Styling for map included on location page*/

.map {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px black;
    border-radius: 7px;
}


/*.storeFront {
    position: absolute;
    height: 550px;
    width: 750px;
    width: 70vw;
    height: auto;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 24%;
    box-shadow: 2px 2px 2px black;
    border-radius: 7px;
}*/

.address {
    left: 13%;
    top: 20%;
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black, -1px -1px 2px black;
}

.backDrop img {
    position: absolute;
    left: 5.5%;
    width: 1139px;
    height: 100vh;
    box-shadow: 3px 3px 2px grey, -3px -3px 2px grey;
    border-radius: 7px;
}

.invList {
    display: inline-block;
    list-style: none;
    padding-top: 10px;
    text-align: center;
}

.searchForm {
    position: relative;
    left: 5%;
    width: 20%;
}

.invControls {
    position: relative;
    left: 40%;
    transform: translate(-50%, -50%);
}

.poiret {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 2em;
}
