<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <title>Inventory</title>
</head>

<body ng-controller="MainCtrl as main">

    <h1>{{ main.greeting }}</h1>

    <form class="">
        <input class="form-control" type="text" placeholder="Search" ng-model="main.search">

        <!-- This will be for all creators -->
        <select class="form-control" ng-model="main.search" ng-options="x for x in main.creators">
          <option value="">Browse by Creator</option>
        </select>

        <!-- This will be for all categories -->
        <select class="form-control" ng-model="main.search" ng-options="x for x in main.categories">
          <option value="">Browse by Category</option>
        </select>

        <!-- This will be for all periods -->
        <select class="form-control" ng-model="main.search" ng-options="x for x in main.periods">
          <option value="">Browse by Period</option>
        </select>
    </form>

    <ul ng-repeat="inventory in main.inventoryList">
        <li><img ng-src="{{ inventory.imageUrl }}" alt="Huh?" /></li>
        <li> Name: {{ inventory.name }}</li>
        <li> Reference: {{ inventory.reference }}</li>
        <li> Description: {{ inventory.description }}</li>
        <li> Height: {{ inventory.measurements.height }}</li>
        <li> Width: {{ inventory.measurements.width }}</li>
        <li> Depth: {{ inventory.measurements.depth }}</li>
        <li> Diameter: {{ inventory.measurements.diameter }}</li>
        <li> Price: {{ inventory.price }}</li>
    </ul>


    <script type="text/javascript" src="../javascript/module.js"></script>
    <script type="text/javascript" src="../javascript/myScripts.js"></script>
    <script type="text/javascript" src="../javascript/factory.js"></script>

</body>

</html>
